* { 
    line-height: 32px;
    margin: 0px;
}
#bodyy div {
    background-color: rgb(248, 242, 242);
    padding-top: 11px;
    margin: 0 155px;
    
    font-size: 21px;
}
.cangiua { 
    text-align: center !important; 
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 20px;
}
div .cantrai {
    text-align: justify;
    font :vertical; 
}
.canphaii  {
    text-align: right;

}
#doan2 { 
margin: 0px;
padding: 0px;
}
#cangiuaphai { text-align: right; }
b {
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: justify;
}
